@font-face {
	font-family: "PT_Sans";
	src: url("../fonts/ptsans.woff") format("woff"),
		 url("../fonts/ptsans.woff2") format("woff2");
}
@font-face {
	font-family: "PT_Sans_bold";
	src: url("../fonts/ptsansbold.woff") format("woff"),
		 url("../fonts/ptsansbold.woff2") format("woff2");
}
body {
	margin: 0;
	padding: 0;

	font-family: "PT_Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
	background-image: url("../img/bg2.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}
table {
	border-collapse: collapse;
	border-top: 1px solid;
	border-left: 1px solid;
}

td,
th {
	border-right: 1px solid;
	border-bottom: 1px solid;
	padding: 5px;
}
.visually-hidden {
	visibility: hidden;
}
a {
	text-decoration: none;
}

.main-navigation {
	width: 1200px;
	height: 56px; 
	margin: 0 auto;
	font-size: 14px;
	line-height: 26px;
	color: #000000;

	background-color: #ffffff;
}
.main-navigation a {
	margin: 0 auto;
}
.site-navigation {
	list-style: none;
}
.site-navigation a {
	display: inline-block;
	color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2
}

.features-promo {
	text-align: center;
}
.city-item_main {
	width: 400px;
	height: 258px;
	color: #ffffff;
	background-color: #81b3d2;
	list-style: none;
}
.features-list {
	background-color: #ffffff;
	list-style: none;
}
.bridge-item_main {
	width: 400px;
	height: 258px;
	color: #ffffff;
	background-color: #81b3d2;
	list-style: none;
}
.features-sublist {
	background-color: #eeeeee;
	list-style: none;
}
.interest-hotel {
	width: 1200px;
	height: 292px;
	margin: 0 auto;
	background-color: #ffffff;
	text-align: center;
}