@font-face {
	font-family: "PT_Sans";
	src: url("../fonts/ptsans.woff") format("woff"),
		 url("../fonts/ptsans.woff2") format("woff2");
}
@font-face {
	font-family: "PT_Sans_bold";
	src: url("../fonts/ptsansbold.woff") format("woff"),
		 url("../fonts/ptsansbold.woff2") format("woff2");
}
body {
	margin: 0;
	padding: 0;

	font-family: "PT_Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
	background-image: url("../img/bg1.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.main-header {
	/*margin-bottom: 60px;
	/* Временно для сетки */
	/*min-height: 474px;*/
	/*outline: 2px solid red;*/
}
.main-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1200px;
	height: 56px; 
	margin: 0 auto;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	/*outline: 2px solid red;*/
	background-color: #ffffff;
}
.main-header-logo {
	text-align: center;
	/*position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 140px;
	height: 70px;
	/*outline: 2px solid red;*/
}
.site-navigation-list {
	height: 56px;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	/*justify-content: space-around;
	/*outline: 2px solid red;*/
	list-style: none;
}
.site-navigation-item.logo-place {
	position: relative;
	align-items: start;
	min-width: 140px;
}
.site-navigation-item {
	padding: 0 12px;
	display: flex;
	align-items: center;
	flex-grow: 1;
	white-space: nowrap;
	min-width: 130px;
}
.site-navigation-item a {
	width: 100%;
}
.site-navigation-item a:hover,
.site-navigation-item a:focus {
	color: #81b3d2
}
.align-right {
	text-align: right;
}
.align-left {
	text-align: left;
}

.main-navigation-wrapper {
	width: 100%;
	margin-bottom: 60px;

	/* Временно для сетки */
	min-height: 70px; 
}
.bg-header {
	width: 1200px;
	height: 508px;
	margin-bottom: 60px;
	/*outline: 3px solid black;*/
}
.features-promo {
	margin-bottom: 59px;
	text-align: center;
}
.features-one-city_main {
	display: flex;
	flex-direction: row-reverse;
	/*outline: 2px dashed red;*/
}
.city-item_main {
	width: 400px;
	margin-top: 0;
	margin-bottom: 0;
	color: #ffffff;
	background-color: #81b3d2;
	list-style: none;
	/*outline: 3px solid black;*/
}
.city-item_main li {
	text-align: center;
	padding-right: 50px;
	padding-top: 30px;
}
.features-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	/* Временно для сетки */
	min-height: 333px;
	list-style: none;
	background-color: #ffffff;
	/*outline: 2px solid red;*/
}
.feature-item  {
	width: 400px;
	text-align: center;
	margin-top: 60px;
	/* Временно для сетки */
	/*min-height: 330px;*/
	/*outline: 3px solid black;*/
}
.features-two-city_main {
	display: flex;
	flex-direction: row;
	/*outline: 2px dashed red;*/
}
.bridge-item_main {
	width: 400px;
	margin-top: 0;
	margin-bottom: 0;
	color: #ffffff;
	background-color: #81b3d2;
	list-style: none;
}
.bridge-item_main li {
	text-align: center;
	padding-right: 50px;
	padding-top: 30px;
}
.features-sublist {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	/* Временно для сетки */
	height: 256px;
	list-style: none;
	background-color: #f2f2f2;
	/*outline: 2px solid red;*/
}
.features-sublist-item {
	width: 400px;
	text-align: center;
	margin-top: 20px;

	/* Временно для сетки */
	/*min-height: 330px;*/
	/*outline: 2px solid black;*/
}
.interest {
	height: 746px;
}
.interest-hotel {
	width: 1200px;
	height: 260px;
	padding-top: 30px;
	background-color: #ffffff;
	text-align: center;
	outline: 2px solid red;
}
.modal-form {
	position: relative;
	bottom: 686px;
	width: 570px;
	height: 481px;
	margin: 0 auto;

	/*outline: 2px solid green;*/
	background-color: #ffffff;
	/*opacity: 0.5;*/
}
.search-btn {
	display: inline-block; 
    vertical-align: middle;
    padding-top: 15px;
	width: 570px;
	height: 71px;
	color: #ffffff;
	background-color: #766357;
	text-align: center;
}
input[type="text"] {
	width: 346px;
	height: 38px;
	background-color: #f2f2f2;
}
input[type="number"] {
	width: 117px;
	height: 38px;
	background-color: #f2f2f2;
}
input[type="submit"] {
	width: 458px;
	height: 60px;
	margin-left: 55px;
	margin-top: 100px;
	color: #ffffff;
	font-size: 25px;
	background-color: #81b3d2;
}
.footer-bottom {
	width: 1200px;
	height: 120px;
	margin: 0 auto;
	/*временый фон*/
	background-color:red;
	/*background-color: #ffffff;*/
	opacity: 0.9;
	/*outline: 2px solid red;*/
}









table {
	border-collapse: collapse;
	border-top: 1px solid;
	border-left: 1px solid;
}

td,
th {
	border-right: 1px solid;
	border-bottom: 1px solid;
	padding: 5px;
}
.visually-hidden {
	visibility: hidden;
}
a {
	text-decoration: none;
}