@font-face {
	font-family: "PT_Sans";
	src: url("../fonts/ptsans.woff") format("woff"),
		 url("../fonts/ptsans.woff2") format("woff2");
}
@font-face {
	font-family: "PT_Sans_bold";
	src: url("../fonts/ptsansbold.woff") format("woff"),
		 url("../fonts/ptsansbold.woff2") format("woff2");
}
body {
	margin: 0;
	padding: 0;

	font-family: "PT_Sans", Arial, sans-serif;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
	background-image: url("../img/bg.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}
a {
	text-decoration: none;
}
.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	background-color: #ffffff;
}
.site-navigation,
.city-item_main {
	list-style: none;
}
.site-navigation a {
	color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}
.features-promo {
	text-align: center;
}
.features-promo h2 {
	font-size: 21px;
	line-height: 26px;
}
.city-item_main {
	width: 400px;
	height: 256px;
	background-color: #81b3d2;
}